.charts {
  display: grid;
  grid-template-areas:
    "pieChart . . barChart"
    "lineChart . . heatChart";
  justify-content: center;
  align-items: center;
  gap: 2em;
  margin: 2em 0;
}

.chart-container {
  display: grid;
  justify-items: center;
  align-items: center;
  width: 30rem;
  height: 30rem;
  background-color: white;
  border-radius: 8px;
  padding: 1rem;
  box-sizing: border-box;
}

.pie-chart {
  grid-area: pieChart;
}

.bar-chart {
  grid-area: barChart;
}

.line-chart {
  grid-area: lineChart;
}

.heat-chart {
  grid-area: heatChart;
  background-color: white;
  color: #111;
  padding: 1rem;
  border-radius: 8px;
}

.charts-empty {
  gap: 0em;
}

@media (max-width: 1200px) {
  .charts {
    grid-template-areas:
      "pieChart"
      "barChart"
      "lineChart"
      "heatChart";
  }
}
