.charts {
  display: grid;
  grid-template-areas:
    "pieChart . . barChart"
    "lineChart . . heatChart";
  justify-content: center;
  align-items: center;
  gap: 5em;
  margin: 2em 0;
}

.chart-container {
  display: grid;
  justify-items: center;
  align-items: center;
  width: 25rem;
  height: 25rem;
}

.pie-chart {
  grid-area: pieChart;
}

.bar-chart {
  grid-area: barChart;
}

.line-chart {
  grid-area: lineChart;
}

.heat-chart {
  grid-area: heatChart;
  background: #000;
  color: #fff;
}

@media (max-width: 1200px) {
  .charts {
    grid-template-areas:
      "pieChart"
      "barChart"
      "lineChart"
      "heatChart";
  }
}
