.btn {
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 1em;
    transition: 0.3s;
}

.action-container {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    gap: 1em;
    justify-content: center;
}

.create {
    width: 100%;
}

.create,
.edit {
    background: var(--pink);
}

.create:hover,
.edit:hover {
    background: var(--pink-shade);
}

.delete {
    background: var(--red);
}

.delete:hover {
    background: var(--red-shade);
}
