* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    height: 100%;
}

body {
    background: #fafafa;
    display: flex;
    flex-direction: column;
}

/* header */
header {
    background: linear-gradient(90deg,rgba(175, 135, 255, 1) 0%, rgba(61, 0, 145, 1) 50%, rgba(3, 0, 0, 1) 100%);
    padding: 1em 0;
    border-bottom: 1px solid black;
    position:fixed;
    top:0;
    width: 100%;
    z-index: 10000;  /* Por esto no se ve la x de la hamburguesa  */
}

.primerDiv {
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    gap: 1em;
}

.logo img {
    width: 5em;
}

.logo h1 {
    font-size: 1.8rem;
    color: white;
    font-weight: bold;
    letter-spacing: 0.1em;
}

a.boton svg,
button svg{
    width: 1em;
    height: 1em;
    fill: currentColor;
    vertical-align: -0.125em; /* Igual que Font Awesome */
    display: inline-block;
    font-size: 1.2em;
}

/* nav */
nav {
    display: flex;
    gap: 1em;
}

.boton {
    background: transparent;
    border: 2px solid white;
    padding: 8px 20px;
    border-radius: 1em;
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.boton:hover {
    background: rgba(255,255,255,0.3);
}

/* main */
.main {
    margin: 0 auto;
    width: 95%;
    margin-top: 10em;
}

.select{
    border-radius: 0.5em;
    padding: 5px 10px;
    flex-basis: 10em;
}


.select-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    background-color: #eebefa;
    flex-wrap: wrap;
    padding: 1em;
    border-radius: 1em;
    border: 3px solid black;
    font-weight: bold;
    box-shadow: 10px 10px 2px #8c00dd20;
    transition: all 0.35s ease;

    margin-bottom: 2em;
}

.select-container:hover {
    transform: translateY(-5px);
    box-shadow: 12px 12px 12px #00000030;
}

/* footer hack */
.hack {
    /* To place the footer at the bottom */
    position: fixed;
    bottom: 0;
    width: 100%;
}


/* footer */
footer {
    margin-top: 40px;
    background: linear-gradient(270deg,rgba(175, 135, 255, 1) 0%, rgba(61, 0, 145, 1) 50%, rgba(3, 0, 0, 1) 100%);
    padding: 1em 0;
    border-top: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer figure {
    display: flex;
    gap: 1em;
    margin-right: 1.5em;
}

footer figure img {
    width: 5em;
}

footer .boton{
    margin-left: 3em;
}

.icons-social-media {
  align-items: center;
  margin-top: 10px;
  padding: 5px;
  width: 32px;
  cursor: pointer !important;
  transition: 300ms all ease-in-out;
  position: relative;
}

.icons-social-media:hover {
  translate: -0px -10px;
}

.instagram,.linkedin,.github, .x {
  transition: 300ms all ease-in-out;
}

.instagram:hover {
  background: linear-gradient(135deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
}

.x:hover {
  background: linear-gradient(135deg, #000000 0%, #3a3a3a 100%);
}

.linkedin:hover {
  background: linear-gradient(135deg, #0077B5 0%, #005983 100%);
}

.github:hover {
  background: linear-gradient(135deg, #333333 0%, #6e5494 100%);
}

/* Detalles perfectos */
header, nav .boton, footer {
    transition: all 0.35s ease;
}


/* ----- MODAL PRIVACIDAD ----- */
.modal {
    display: none; 
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    backdrop-filter: blur(3px);  /* borroso */
    -webkit-backdrop-filter: blur(3px); /* para Safari */
    padding-bottom: 10em;
    margin-bottom: 10em;
}

.modal-contenido {
    background: white;
    width: 90%;
    margin: 10% auto;
    padding: 20px;
    border-radius: 10px;
    max-height: 90vh; /* límite de altura */
    overflow-y: auto; /* scroll si es necesario */
    animation: aparecer 0.3s ease;
    margin-top: 9em;
    height: 80vh;
    border: 3px solid black;
}

.modal-contenido h2 {
    color: #3d0091;
    margin-bottom: 1em;
    text-align: center;
}

.modal-contenido p {
    margin-bottom: 1em;
    font-size: 0.95rem;
    line-height: 1.5;
}

.cerrar {
    float: right;
    font-size: 25px;
    cursor: pointer;
}

@keyframes aparecer {
    from { opacity: 0; transform: translateY(-20px); }
    to   { opacity: 1; transform: translateY(0); }
}


/* RESPONSIVE */
@media (max-width: 900px) {
    .modal-contenido{
      height: 81vh;
    }
}

/* Móviles */
@media (max-width: 780px) {

    .primerDiv {
        display: flex;
        justify-content: space-between;
    }

    nav{
        display: flex;
        flex-direction: column;
        font-size: 2vw;
    }

    /* main */
    .grid-partidos {
        grid-template-columns: 1fr;
    }

    .card {
        height: auto;
        flex-direction: column;
    }

    .card .info, .card figure {
        width: 100%;
        border-right: none;
    }

    .voto{
        padding: 1em;
        border-bottom: 2px solid black;
        font-size: 1em;
    }

    
    /* Footer en columna */
    footer {
        flex-direction: column;
        gap: 1.5em;
        text-align: center;
    }

    footer .boton{
        margin-left: 0;
        width: 90%;
        margin: 0 auto;
        margin-top: 1em;
    }

    footer figure {
        margin-right: 0;
    }

    
}

/* Móviles pequeños */
@media (max-width: 500px) {
    .logo img {
        width: 4em;
    }

    .logo h1 {
        font-size: 1.5rem;
    }

    nav {
        font-size: 0.7em;
    }

    .voto{
        font-size: 0.8em;
    }
}
