:root {
    --pink: #eebefa;
    --pink-shade: #db9fea;
    --red: #ffc9c9;
    --red-shade: #daa2a2;
}

.votations {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    margin-bottom: 1em;
}

.cell {
    border: 1px solid black;
    padding: 1em;
}

.cell-header {
    background: var(--pink);
}
