/* MAIN */
.electionsMap {
    padding-top: 10em;
    width: 95%;
    margin: 0 auto;
    margin-bottom: 3em;
}

/* section 1 */
.electionsMap .section1{
    background-color: #d0bfff;
    padding: 1em;
    border-radius: 1em;
    border: 3px solid black;
    box-shadow: 10px 10px 2px #8c00dd20;
    position: relative;
}

.electionsMap .article1{
    display: flex;
    justify-content: space-between;
    text-decoration: underline;
}

.electionsMap .select{
    width: 10%;
    border-radius: 0.5em;
}

.electionsMap .article2{
    background-color: white;
    margin-top: 1em;
    text-align: center;
    padding: 0.5em;
    border-radius: 1em;
    border: 2px solid black;
}

/* section 2 */
.electionsMap .section2{
    background-color: #eebefa;
    padding: 1em;
    border-radius: 1em;
    margin-top: 2em;
    border: 3px solid black;
    font-weight: bold;
    box-shadow: 10px 10px 2px #8c00dd20;
    position: relative;
}

.electionsMap .nickname{
    border-radius: 0.5em;
    font-weight: bold;
    padding: 0.3em;
    width: 100%;
    margin-top: 0.5em;
}


/* section 3 */
.electionsMap .section3{
    border-radius: 1em;
    padding: 1em;
    margin-top: 2em;
    position: relative;
    transition: all 0.35s ease;
    background-color: #eebefa;
    box-shadow: 10px 10px 2px #8c00dd20;
    border: 3px solid black;
}

.electionsMap .filtrado{
    display: flex;
    gap: 0.5em;
    font-weight: 600;
}

.electionsMap .types{
    border: 2px solid black;
    border-radius: 0.5em;
    padding: 0.5em;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    background-color: white;
}

/* Hovers */
.electionsMap .section1:hover,
.electionsMap .section2:hover,
.electionsMap .section3:hover{
    transform: translateY(-5px);
    box-shadow: 12px 12px 12px #00000030;
}

.electionsMap .section1, .electionsMap .section2, .electionsMap .section3{
    transition: all 0.35s ease;
}

/* section4 */
.electionsMap .section4{
    margin-top: 2em;
    overflow: hidden;
    position: relative;
    background-color: rgb(147, 215, 255);
    border-radius: 1em;
    padding: 4em 3em;
    
}

/* MAPA */
.map path {
  stroke:black;
  stroke-width: 1.5;
  transition: all 0.2s;
}

#map {
    pointer-events: none; /* pa que no tape el section3, con z-index no funciona */
    display: flex;
}

#map path {
    pointer-events: auto; /* pa que funcione los hovers */
}

.ocean {
    position: absolute;
    color: #003366;
    font-weight: bold;
    font-size: 1.2rem;
    pointer-events: none;
}


/* RESPONSIVE */
/* Tablets y pantallas medianas */
@media (max-width: 900px) {
    .electionsMap {
        padding-top: 8em;
    }
}


@media (max-width: 590px) {
    .electionsMap .filtrado{
        flex-direction: column;
    }

}

@media (max-width: 419px) {
    .electionsMap .article1 h2{
        font-size: 1.2em;
    }
}