/* MAIN */
.electionsMap {
    padding-top: 9.5em;
    width: 95%;
    margin: 0 auto;
    margin-bottom: 3em;
    position: relative;
}

/* section 1 */
.electionsMap .section1 {
    background-color: #d0bfff;
    padding: 1em;
    border-radius: 1em;
    border: 3px solid black;
    box-shadow: 10px 10px 2px #8c00dd20;
    position: relative;
}

.electionsMap .article1 {
    display: flex;
    justify-content: space-between;
    text-decoration: underline;
}

.electionsMap .select {
    border-radius: 0.5em;
}

.electionsMap .article2 {
    background-color: white;
    margin-top: 1em;
    text-align: center;
    padding: 0.5em;
    border-radius: 1em;
    border: 2px solid black;
}

/* section 2 */
.electionsMap .section2 {
    background-color: #eebefa;
    padding: 1em;
    border-radius: 1em;
    margin-top: 2em;
    border: 3px solid black;
    font-weight: bold;
    box-shadow: 10px 10px 2px #8c00dd20;
    position: relative;
}

.electionsMap .nickname {
    border-radius: 0.5em;
    font-weight: bold;
    padding: 0.3em;
    width: 100%;
    margin-top: 0.5em;
}

.electionsMap .verify-vote-button {
    display: block;
    margin-top: 0.75em;
    padding: 0.5em 1.25em;
    font-weight: bold;
    border-radius: 0.5em;
    border: 2px solid black;
    background: white;
    cursor: pointer;
    box-shadow: 4px 4px 0 #8c00dd20;
}

.electionsMap .verify-vote-button:hover {
    transform: translateY(-2px);
    box-shadow: 6px 6px 0 #00000020;
}


/* section 3 */
.electionsMap .section3 {
    border-radius: 1em;
    padding: 1em;
    margin-top: 2em;
    position: relative;
    transition: all 0.35s ease;
    background-color: #eebefa;
    box-shadow: 10px 10px 2px #8c00dd20;
    border: 3px solid black;
}

.electionsMap .filtrado {
    display: flex;
    gap: 0.5em;
    font-weight: 600;
}

.electionsMap .types {
    border: 2px solid black;
    border-radius: 0.5em;
    padding: 0.5em;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    background-color: white;
}

/* Hovers */
.electionsMap .section1:hover,
.electionsMap .section2:hover,
.electionsMap .section3:hover {
    transform: translateY(-5px);
    box-shadow: 12px 12px 12px #00000030;
}

.electionsMap .section1,
.electionsMap .section2,
.electionsMap .section3 {
    transition: all 0.35s ease;
}

/* section4 */
.electionsMap .section4 {
    margin-top: 2em;
    overflow: hidden;
    position: relative;
    background-color: rgb(147, 215, 255);
    border-radius: 1em;
    padding: 1em;

}

/* MAPA */
.map path {
    stroke: black;
    stroke-width: 1.5;
    transition: all 0.2s;
}

#map path {
    pointer-events: auto;
    /* pa que funcione los hovers */
}

.ocean {
    position: absolute;
    color: #003366;
    font-weight: bold;
    font-size: 1.2rem;
    pointer-events: none;
}

/* Dialog */
.dialog {
    position: fixed;
    z-index: 1000000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    backdrop-filter: blur(3px);  /* borroso */
    -webkit-backdrop-filter: blur(3px); /* para Safari */
    padding-bottom: 10em;
    margin-bottom: 10em;
}

.dialog-content {
    background: white;
    width: 90%;
    margin: 10% auto;
    padding: 20px;
    border-radius: 10px;
    max-height: 90vh; /* límite de altura */
    overflow-y: auto; /* scroll si es necesario */
    animation: aparecer 0.3s ease;
    margin-top: 9em;
    height: 80vh;
    border: 3px solid black;
    display: grid;
    grid-template-areas:
        "dialogTitle . . cerrar"
        "info charts charts charts"
        "info charts charts charts";
    gap: 2em;
}

.cerrar {
    grid-area: cerrar;
    justify-self: end;
}

.results {
    grid-area: info;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.dialog-title {
    grid-area: dialogTitle;
    text-wrap: nowrap;
}

.chart-section {
    grid-area: charts;
    display: grid;
    grid-template-areas:
        "pieChart barChart"
        "lineChart lineChart";
    justify-content: center;
    align-items: center;
    gap: 4em;
}

.pie-chart,
.bar-chart {
    height: 300px;
    width: 300px;
}

.line-chart {
    width: 100%;
}

/* RESPONSIVE */
/* Tablets y pantallas medianas */

@media (width < 1200px) {
    .dialog-content {
        grid-template-areas:
            ". dialogTitle cerrar"
            "info info info"
            "charts charts charts";

        grid-template-columns: repeat(3, 1fr);
    }

    .results {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media (max-width: 900px) {
    .electionsMap {
        padding-top: 8em;
    }

    .chart-section {
        grid-template-areas:
            "pieChart"
            "barChart"
            "lineChart";

        justify-items: center;
    }

    .dialog-content{
        margin-top: 7em;
        height: 83vh;
    }
}

@media (max-width: 590px) {
    .electionsMap .filtrado {
        flex-direction: column;
    }

    .electionsMap .select {
        width: 20%;
    }

    .dialog-title {
        text-wrap: wrap;
    }
}

@media (max-width: 419px) {
    .electionsMap .article1 h2 {
        font-size: 1.2em;
    }
}
