footer {
    background: linear-gradient(270deg,rgba(175, 135, 255, 1) 0%, rgba(61, 0, 145, 1) 50%, rgba(3, 0, 0, 1) 100%);
    padding: 1em 0;
    border-top: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

footer figure {
    display: flex;
    gap: 1em;
    margin-right: 1.5em;
}

footer figure img {
    width: 5em;
}

footer .boton{
    margin-left: 3em;
}

.icons-social-media {
  align-items: center;
  margin-top: 10px;
  padding: 5px;
  width: 32px;
  cursor: pointer !important;
  transition: 300ms all ease-in-out;
  position: relative;
}

.icons-social-media:hover {
  translate: -0px -10px;
}

.instagram,.linkedin,.github, .x {
  transition: 300ms all ease-in-out;
}

.instagram:hover {
  background: linear-gradient(135deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
}

.x:hover {
  background: linear-gradient(135deg, #000000 0%, #3a3a3a 100%);
}

.linkedin:hover {
  background: linear-gradient(135deg, #0077B5 0%, #005983 100%);
}

.github:hover {
  background: linear-gradient(135deg, #333333 0%, #6e5494 100%);
}


/* ----- MODAL PRIVACIDAD ----- */
.modal { 
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    backdrop-filter: blur(3px);  /* borroso */
    -webkit-backdrop-filter: blur(3px); /* para Safari */
    padding-bottom: 10em;
    margin-bottom: 10em;
}

.modal-contenido {
    background: white;
    width: 90%;
    margin: 10% auto;
    padding: 20px;
    border-radius: 10px;
    max-height: 90vh; /* límite de altura */
    overflow-y: auto; /* scroll si es necesario */
    animation: aparecer 0.3s ease;
    margin-top: 9em;
    height: 80vh;
    border: 3px solid black;
}

.modal-contenido h2 {
    color: #3d0091;
    margin-bottom: 1em;
    text-align: center;
}

.modal-contenido p {
    margin-bottom: 1em;
    font-size: 0.95rem;
    line-height: 1.5;
}

.cerrar {
    float: right;
    font-size: 25px;
    cursor: pointer;
}

@keyframes aparecer {
    from { opacity: 0; transform: translateY(-20px); }
    to   { opacity: 1; transform: translateY(0); }
}

/* RESPONSIVE */
/* Tablets y pantallas medianas */
@media (max-width: 900px) {

    .modal-contenido{
        margin-top: 7em;
        height: 85vh;
    }
}

/* Móviles */
@media (max-width: 800px) {

    /* Footer en columna */
    footer {
        flex-direction: column;
        gap: 1.5em;
        text-align: center;
    }

    footer .boton{
        margin-left: 0;
        width: 90%;
        margin: 0 auto;
        margin-top: 1em;
    }

    footer figure {
        margin-right: 0;
    }

    
}