:root {
    --pink: #eebefa;
    --pink-shade: #db9fea;
    --red: #ffc9c9;
    --red-shade: #daa2a2;
    --red-2: #f44336;
    --green: #4caf50;
}

.btn {
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 1em;
    transition: 0.3s;
    cursor: pointer;
}

.btn--create {
    width: 100%;
    margin-bottom: 1em;
}

.btn--create,
.btn--edit {
    background: var(--pink);
}

.btn--create:hover,
.btn--edit:hover {
    background: var(--pink-shade);
}

.btn--delete {
    background: var(--red);
}

.btn--delete:hover {
    background: var(--red-shade);
}

.btn--cancel {
    background-color: var(--red-2);
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
}

.btn--save {
    background-color: var(--green);
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
}
