:root {
    --pink: #eebefa;
    --pink-shade: #db9fea;
    --red: #ffc9c9;
    --red-shade: #daa2a2;
}

.crudvotations {
    margin-top: 10em;
    display: flex;
    flex-direction: column;
}

.crudvotations .container {
    margin: 0 auto;
    width: 90%;
}


/* TABLA */
.action-container {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    gap: 1em;
    justify-content: center;
}
